.banner { 
    background: url("/professional-camera-blurred_169016-10249.jpg") no-repeat center center; 
    background-size: cover; 
    padding-top: 20%; 
    padding-bottom: 20%; 
    color: #ffffff; 
  }
  .lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #fff;
    background-color: #ff0000;
  }
  .lingkaran i {
    position: relative;
    top: 30px;
  }
  .crop-img {
    object-fit: cover;
  }
  
  a.social {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;
  }
  
  .kontak {
    background: url("/professional-camera-blurred_169016-10249.jpg") no-repeat
      center center;
    background-size: cover;
    padding-bottom: 20%;
    padding-top: 20%;
    color: #ffffff;
  }

  .display-1 {
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    text-shadow: 3px 3px 3px black;
    font-weight: bold 3px 3px;
    
   
  }
  .table {
    width: 45%; /* Set table width to 50% of the container */
    margin-right: auto; /* Auto margin on the right side to center the table */
    margin-left: 0; /* No margin on the left side */
    border-collapse: collapse; /* Collapse table borders */
  }
